In [1]:
import numpy as np
import pandas as pd

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
def read_csv(name):
    df = pd.read_csv(name)
    df.columns = df.columns.str.strip()
    for c in df.columns:
        if c in ['Rk', 'Matches', 'Born']:
            df = df.drop(columns=c)
        if c == 'Squad':
            df[c] = df[c].str.replace(r"^\S+\s+", '', regex=True)

    return df

In [3]:
def_actions = read_csv('player_defense_actions.csv')
def_actions.head()

,Player,Pos,Squad,Age,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,...,Att,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err
0,Che Adams,FW,Scotland,27,2.3,2,1,1,1,0,...,1,100.0,0,2,0,2,1,3,0,0
1,Michel Aebischer,DF,Switzerland,27,5.3,4,3,2,2,0,...,11,9.1,10,3,1,2,2,6,7,0
2,Arlind Ajeti,DF,Albania,30,3.0,1,0,0,1,0,...,3,33.3,2,5,4,1,6,7,13,0
3,Manuel Akanji,DF,Switzerland,28,5.3,2,2,2,0,0,...,2,50.0,1,6,6,0,4,6,22,0
4,Samet Akaydın,DF,Türkiye,29,3.7,8,4,8,0,0,...,8,75.0,2,5,5,0,7,15,16,0

In [4]:
def_actions.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Tkl', 'TklW', 'Def 3rd',
       'Mid 3rd', 'Att 3rd', 'Tkl.1', 'Att', 'Tkl%', 'Lost', 'Blocks', 'Sh',
       'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err'],
      dtype='object')

In [5]:
goal_shot_creation = read_csv('player_goal_and_shot_creation.csv')
goal_shot_creation.head()

,Player,Pos,Squad,Age,90s,SCA,SCA90,PassLive,PassDead,TO,...,Fld,Def,GCA,GCA90,PassLive.1,PassDead.1,TO.1,Sh.1,Fld.1,Def.1
0,Che Adams,FW,Scotland,27,2.3,2,0.86,1,0,0,...,1,0,0,0.00,0,0,0,0,0,0
1,Michel Aebischer,DF,Switzerland,27,5.3,9,1.70,9,0,0,...,0,0,2,0.38,2,0,0,0,0,0
2,Arlind Ajeti,DF,Albania,30,3.0,2,0.67,2,0,0,...,0,0,0,0.00,0,0,0,0,0,0
3,Manuel Akanji,DF,Switzerland,28,5.3,7,1.40,7,0,0,...,0,0,2,0.40,2,0,0,0,0,0
4,Samet Akaydın,DF,Türkiye,29,3.7,4,1.07,4,0,0,...,0,0,0,0.00,0,0,0,0,0,0

In [6]:
goal_shot_creation.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'SCA', 'SCA90', 'PassLive',
       'PassDead', 'TO', 'Sh', 'Fld', 'Def', 'GCA', 'GCA90', 'PassLive.1',
       'PassDead.1', 'TO.1', 'Sh.1', 'Fld.1', 'Def.1'],
      dtype='object')

In [7]:
pass_type = read_csv('player_pass_type.csv')
pass_type.head()

,Player,Pos,Squad,Age,90s,Att,Live,Dead,FK,TB,Sw,Crs,TI,CK,In,Out,Str,Cmp,Off,Blocks
0,Che Adams,FW,Scotland,27,2.3,31,28,3,0,0,1,1,0,0,0,0,0,27,0,0
1,Michel Aebischer,DF,Switzerland,27,5.3,252,219,32,4,3,2,3,28,0,0,0,0,221,1,0
2,Arlind Ajeti,DF,Albania,30,3.0,112,105,6,6,0,1,0,0,0,0,0,0,93,1,2
3,Manuel Akanji,DF,Switzerland,28,5.3,331,304,26,11,0,0,0,0,0,0,0,0,304,1,2
4,Samet Akaydın,DF,Türkiye,29,3.7,206,197,9,6,1,0,0,0,0,0,0,0,185,0,0

In [8]:
pass_type.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Att', 'Live', 'Dead', 'FK',
       'TB', 'Sw', 'Crs', 'TI', 'CK', 'In', 'Out', 'Str', 'Cmp', 'Off',
       'Blocks'],
      dtype='object')

In [9]:
passing = read_csv('player_passing.csv')
passing.head()

,Player,Pos,Squad,Age,90s,Cmp,Att,Cmp%,TotDist,PrgDist,...,Cmp%.3,Ast,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,PrgP
0,Che Adams,FW,Scotland,27,2.3,27,31,87.1,386,44,...,33.3,0,0.1,0.2,-0.1,2,2,0,0,2
1,Michel Aebischer,DF,Switzerland,27,5.3,221,252,87.7,3316,1014,...,62.5,2,1.2,1.0,0.8,6,17,7,0,28
2,Arlind Ajeti,DF,Albania,30,3.0,93,112,83.0,1654,533,...,47.1,0,0.0,0.0,0.0,0,4,0,0,5
3,Manuel Akanji,DF,Switzerland,28,5.3,304,331,91.8,5658,2036,...,79.5,0,0.0,0.1,0.0,1,21,0,0,25
4,Samet Akaydın,DF,Türkiye,29,3.7,185,206,89.8,3262,1350,...,61.9,0,0.0,0.1,0.0,0,18,0,0,15

In [10]:
passing.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Cmp', 'Att', 'Cmp%', 'TotDist',
       'PrgDist', 'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2',
       'Cmp.3', 'Att.3', 'Cmp%.3', 'Ast', 'xAG', 'xA', 'A-xAG', 'KP', '1/3',
       'PPA', 'CrsPA', 'PrgP'],
      dtype='object')

In [11]:
possession = read_csv('player_possession.csv')
possession.head()

,Player,Pos,Squad,Age,90s,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,...,Carries,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR
0,Che Adams,FW,Scotland,27,2.3,51,0,4,27,21,...,34,211,84,3,3,0,7,4,36,10
1,Michel Aebischer,DF,Switzerland,27,5.3,288,11,57,126,108,...,178,671,271,4,8,1,5,1,197,18
2,Arlind Ajeti,DF,Albania,30,3.0,135,30,84,50,2,...,76,271,121,1,1,0,0,0,89,0
3,Manuel Akanji,DF,Switzerland,28,5.3,365,70,177,182,7,...,234,1338,821,2,4,0,1,0,238,1
4,Samet Akaydın,DF,Türkiye,29,3.7,248,27,110,135,4,...,139,861,461,1,1,0,2,1,168,0

In [12]:
possession.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Touches', 'Def Pen', 'Def 3rd',
       'Mid 3rd', 'Att 3rd', 'Att Pen', 'Live', 'Att', 'Succ', 'Succ%', 'Tkld',
       'Tkld%', 'Carries', 'TotDist', 'PrgDist', 'PrgC', '1/3', 'CPA', 'Mis',
       'Dis', 'Rec', 'PrgR'],
      dtype='object')

In [13]:
shooting = read_csv('player_shooting.csv')
shooting.head()

,Player,Pos,Squad,Age,90s,Gls,Sh,SoT,SoT%,Sh/90,...,G/SoT,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Che Adams,FW,Scotland,27,2.3,0,2,1,50.0,0.86,...,0.0,14.1,0,0,0,0.1,0.1,0.06,-0.1,-0.1
1,Michel Aebischer,DF,Switzerland,27,5.3,1,2,1,50.0,0.38,...,1.0,21.7,0,0,0,0.1,0.1,0.05,0.9,0.9
2,Arlind Ajeti,DF,Albania,30,3.0,0,0,0,NaN,0.00,...,NaN,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0
3,Manuel Akanji,DF,Switzerland,28,5.3,0,0,0,NaN,0.00,...,NaN,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0
4,Samet Akaydın,DF,Türkiye,29,3.7,1,2,1,50.0,0.54,...,1.0,5.2,0,0,0,0.4,0.4,0.18,0.6,0.6

In [14]:
shooting.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Gls', 'Sh', 'SoT', 'SoT%',
       'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt', 'xG',
       'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG'],
      dtype='object')

### Dropping Redundant columns

***Defensive Actions - Pillar***

In [15]:
def_actions = def_actions.drop(columns=['Def 3rd', 'Mid 3rd', 'Att 3rd', 'Lost', 'Tkl.1', 'Att', 'Sh', 'Pass'])

In [16]:
def_actions.shape

(493, 13)

In [17]:
def_actions.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Tkl', 'TklW', 'Tkl%', 'Blocks',
       'Int', 'Tkl+Int', 'Clr', 'Err'],
      dtype='object')

***Goal and Shot Creation***

In [18]:
goal_shot_creation.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'SCA', 'SCA90', 'PassLive',
       'PassDead', 'TO', 'Sh', 'Fld', 'Def', 'GCA', 'GCA90', 'PassLive.1',
       'PassDead.1', 'TO.1', 'Sh.1', 'Fld.1', 'Def.1'],
      dtype='object')

In [19]:
goal_shot_creation = goal_shot_creation.drop(columns=['SCA', 'GCA', 'PassLive.1', 'PassDead.1', 'TO.1', 'Sh.1', 'Fld.1', 'Def.1'])

In [20]:
goal_shot_creation.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'SCA90', 'PassLive', 'PassDead',
       'TO', 'Sh', 'Fld', 'Def', 'GCA90'],
      dtype='object')

In [21]:
goal_shot_creation.shape

(493, 13)

***Passing - Ball playing defenders capability***

In [22]:
passing.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Cmp', 'Att', 'Cmp%', 'TotDist',
       'PrgDist', 'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2',
       'Cmp.3', 'Att.3', 'Cmp%.3', 'Ast', 'xAG', 'xA', 'A-xAG', 'KP', '1/3',
       'PPA', 'CrsPA', 'PrgP'],
      dtype='object')

In [23]:
passing = passing.drop(columns=['TotDist', 'Ast', 'Cmp.1', 'Cmp.2', 'Att.1', 'Cmp%.1', 'Att.2', 'Cmp%.2', 'Cmp.3', 'Att.3', 'Cmp%.3', 'A-xAG'])

In [24]:
passing.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Cmp', 'Att', 'Cmp%', 'PrgDist',
       'xAG', 'xA', 'KP', '1/3', 'PPA', 'CrsPA', 'PrgP'],
      dtype='object')

In [25]:
passing.shape

(493, 16)

***Possession - Power press resistance and transition ability***

In [26]:
possession.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Touches', 'Def Pen', 'Def 3rd',
       'Mid 3rd', 'Att 3rd', 'Att Pen', 'Live', 'Att', 'Succ', 'Succ%', 'Tkld',
       'Tkld%', 'Carries', 'TotDist', 'PrgDist', 'PrgC', '1/3', 'CPA', 'Mis',
       'Dis', 'Rec', 'PrgR'],
      dtype='object')

In [27]:
possession = possession.drop(columns=['Def 3rd', 'Mid 3rd', 'Att 3rd', 'Att', 'Succ', 'Live'])

In [28]:
possession.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Touches', 'Def Pen', 'Att Pen',
       'Succ%', 'Tkld', 'Tkld%', 'Carries', 'TotDist', 'PrgDist', 'PrgC',
       '1/3', 'CPA', 'Mis', 'Dis', 'Rec', 'PrgR'],
      dtype='object')

In [29]:
possession.shape

(493, 21)

***Shooting - For Identifying set piece threats***

In [30]:
shooting.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Gls', 'Sh', 'SoT', 'SoT%',
       'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt', 'xG',
       'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG'],
      dtype='object')

In [31]:
shooting = shooting.drop(columns=['SoT%', 'PK', 'PKatt', 'G/SoT', 'G/Sh'])

In [32]:
shooting.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Gls', 'Sh', 'SoT', 'Sh/90',
       'SoT/90', 'Dist', 'FK', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG'],
      dtype='object')

In [33]:
shooting.shape

(493, 17)

***Pass type - Role classification***

In [34]:
pass_type.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Att', 'Live', 'Dead', 'FK',
       'TB', 'Sw', 'Crs', 'TI', 'CK', 'In', 'Out', 'Str', 'Cmp', 'Off',
       'Blocks'],
      dtype='object')

In [35]:
pass_type = pass_type.drop(columns=['Off', 'Blocks', 'Live', 'Dead'])

In [36]:
pass_type.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Att', 'FK', 'TB', 'Sw', 'Crs',
       'TI', 'CK', 'In', 'Out', 'Str', 'Cmp'],
      dtype='object')

In [37]:
pass_type.shape

(493, 16)

### Renaming Columns

In [38]:
passing.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Cmp', 'Att', 'Cmp%', 'PrgDist',
       'xAG', 'xA', 'KP', '1/3', 'PPA', 'CrsPA', 'PrgP'],
      dtype='object')

In [39]:
passing = passing.rename(columns={
    'Cmp': 'Pass_Cmp',
    'Att': 'Pass_Att'
})

In [40]:
passing.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Pass_Cmp', 'Pass_Att', 'Cmp%',
       'PrgDist', 'xAG', 'xA', 'KP', '1/3', 'PPA', 'CrsPA', 'PrgP'],
      dtype='object')

In [41]:
pass_type.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Att', 'FK', 'TB', 'Sw', 'Crs',
       'TI', 'CK', 'In', 'Out', 'Str', 'Cmp'],
      dtype='object')

In [42]:
pass_type = pass_type.rename(columns={
    'Cmp': 'Type_Cmp',
    'Att': 'Type_Att'
})

In [43]:
pass_type.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Type_Att', 'FK', 'TB', 'Sw',
       'Crs', 'TI', 'CK', 'In', 'Out', 'Str', 'Type_Cmp'],
      dtype='object')

In [44]:
passing = passing.rename(columns={
    'PrgDist': 'Pass_PrgDist',
    '1/3': 'Pass_1_3'
})

In [45]:
passing.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Pass_Cmp', 'Pass_Att', 'Cmp%',
       'Pass_PrgDist', 'xAG', 'xA', 'KP', 'Pass_1_3', 'PPA', 'CrsPA', 'PrgP'],
      dtype='object')

In [46]:
possession.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Touches', 'Def Pen', 'Att Pen',
       'Succ%', 'Tkld', 'Tkld%', 'Carries', 'TotDist', 'PrgDist', 'PrgC',
       '1/3', 'CPA', 'Mis', 'Dis', 'Rec', 'PrgR'],
      dtype='object')

In [47]:
possession = possession.rename(columns={
    'PrgDist': 'Carry_PrgDist',
    '1/3': 'Carry_1_3'
})

In [48]:
possession.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Touches', 'Def Pen', 'Att Pen',
       'Succ%', 'Tkld', 'Tkld%', 'Carries', 'TotDist', 'Carry_PrgDist', 'PrgC',
       'Carry_1_3', 'CPA', 'Mis', 'Dis', 'Rec', 'PrgR'],
      dtype='object')

In [49]:
goal_shot_creation.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'SCA90', 'PassLive', 'PassDead',
       'TO', 'Sh', 'Fld', 'Def', 'GCA90'],
      dtype='object')

In [50]:
goal_shot_creation = goal_shot_creation.rename(columns={
    'Sh': 'SCA_Shots'
})

In [51]:
goal_shot_creation.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'SCA90', 'PassLive', 'PassDead',
       'TO', 'SCA_Shots', 'Fld', 'Def', 'GCA90'],
      dtype='object')

In [52]:
shooting.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Gls', 'Sh', 'SoT', 'Sh/90',
       'SoT/90', 'Dist', 'FK', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG'],
      dtype='object')

In [53]:
shooting = shooting.rename(columns={
    'Sh': 'Shots',
    'FK': 'Shot_Fk'
})

In [54]:
shooting.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Gls', 'Shots', 'SoT', 'Sh/90',
       'SoT/90', 'Dist', 'Shot_Fk', 'xG', 'npxG', 'npxG/Sh', 'G-xG',
       'np:G-xG'],
      dtype='object')

In [55]:
pass_type = pass_type.rename(columns={
    'FK': 'Pass_typeFk'
})

In [56]:
pass_type.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Type_Att', 'Pass_typeFk', 'TB',
       'Sw', 'Crs', 'TI', 'CK', 'In', 'Out', 'Str', 'Type_Cmp'],
      dtype='object')

### Data Merging

In [57]:
keys = ['Player','Squad','Pos','Age','90s']

In [58]:
# Base Table = def actions merging with goal shot creation

df = def_actions.merge(
    goal_shot_creation,
    on=keys,
    how='left'
)

In [59]:
# Merging passing
df = df.merge(
    passing,
    on=keys,
    how='left'
)

In [60]:
# Possession
df = df.merge(
    possession,
    on=keys,
    how='left'
)

In [61]:
# Shooting
df = df.merge(
    shooting,
    on=keys,
    how='left'
)

In [62]:
# Passing type
merge_df = df.merge(
    pass_type,
    on=keys,
    how='left'
)

In [63]:
print(f"Rows of Base table: {def_actions.shape[0]} and Rows of merged tables: {merge_df.shape[0]}")

Rows of Base table: 493 and Rows of merged tables: 493

In [64]:
merge_df['Pos'].unique()

array(['FW', 'DF', 'FW,MF', 'MF,DF', 'MF', 'MF,FW', 'DF,MF', 'FW,DF',
       'GK', 'DF,FW'], dtype=object)

In [65]:
merge_df['Pos'].value_counts()

Pos
DF       147
MF       129
FW        96
FW,MF     35
GK        29
MF,FW     26
DF,MF     13
MF,DF      6
FW,DF      6
DF,FW      6
Name: count, dtype: int64

In [66]:
merge_df['Pos'] = merge_df['Pos'].replace({
    'MF,DF': 'DF',
    'DF,MF': 'DF'
})

In [67]:
merge_df['Pos'].value_counts()

Pos
DF       166
MF       129
FW        96
FW,MF     35
GK        29
MF,FW     26
FW,DF      6
DF,FW      6
Name: count, dtype: int64

In [68]:
def_df = merge_df[merge_df['Pos'] == 'DF'].reset_index(drop=True)

In [69]:
def_df.shape

(166, 71)

In [70]:
def_df.isnull().sum()[def_df.isnull().sum() > 0]

Tkl%       25
Succ%      64
Tkld%      64
Dist       63
npxG/Sh    63
dtype: int64

In [71]:
(def_df[['Tkl%', 'Succ%', 'Tkld%', 'Dist', 'npxG/Sh']].isnull().mean()* 100).round(2)

Tkl%       15.06
Succ%      38.55
Tkld%      38.55
Dist       37.95
npxG/Sh    37.95
dtype: float64

In [72]:
def_df[def_df.isnull().any(axis=1)]

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,Pass_typeFk,TB,Sw,Crs,TI,CK,In,Out,Str,Type_Cmp
1,Arlind Ajeti,DF,Albania,30,3.0,1,0,33.3,5,6,...,6,0,1,0,0,0,0,0,0,93
2,Manuel Akanji,DF,Switzerland,28,5.3,2,2,50.0,6,4,...,11,0,0,0,0,0,0,0,0,304
3,Samet Akaydın,DF,Türkiye,29,3.7,8,4,75.0,5,7,...,6,1,0,0,0,0,0,0,0,185
7,Waldemar Anton,DF,Germany,27,0.4,0,0,NaN,0,0,...,0,0,0,0,1,0,0,0,0,20
10,Jure Balkovec,DF,Slovenia,29,1.3,6,3,40.0,2,2,...,0,0,0,1,16,0,0,0,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Kyle Walker,DF,England,33,7.7,7,4,66.7,7,6,...,12,0,7,4,54,0,0,0,0,490
160,Maximilian Wöber,DF,Austria,25,1.9,4,3,66.7,3,4,...,1,0,0,3,0,0,0,0,0,101
161,Okay Yokuşlu,DF,Türkiye,29,0.6,2,1,0.0,2,2,...,0,0,0,0,0,0,0,0,0,26
162,Illia Zabarnyi,DF,Ukraine,21,3.0,4,3,50.0,2,1,...,6,0,1,0,0,0,0,0,0,172
165,Andrija Živković,DF,Serbia,27,2.7,2,2,50.0,3,0,...,0,0,2,13,20,0,0,0,0,115

In [73]:
def_df.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Tkl', 'TklW', 'Tkl%', 'Blocks',
       'Int', 'Tkl+Int', 'Clr', 'Err', 'SCA90', 'PassLive', 'PassDead', 'TO',
       'SCA_Shots', 'Fld', 'Def', 'GCA90', 'Pass_Cmp', 'Pass_Att', 'Cmp%',
       'Pass_PrgDist', 'xAG', 'xA', 'KP', 'Pass_1_3', 'PPA', 'CrsPA', 'PrgP',
       'Touches', 'Def Pen', 'Att Pen', 'Succ%', 'Tkld', 'Tkld%', 'Carries',
       'TotDist', 'Carry_PrgDist', 'PrgC', 'Carry_1_3', 'CPA', 'Mis', 'Dis',
       'Rec', 'PrgR', 'Gls', 'Shots', 'SoT', 'Sh/90', 'SoT/90', 'Dist',
       'Shot_Fk', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Type_Att',
       'Pass_typeFk', 'TB', 'Sw', 'Crs', 'TI', 'CK', 'In', 'Out', 'Str',
       'Type_Cmp'],
      dtype='object')

#### Columns Desciption

    Tkl: Total tackles attempted
    TklW: Total tackles won
    Tkl%: Tackle success rate
    Blocks: Shots or passes blocked
    Int: Interception
    Tkl+Int: Defensive activity volume
    Clr: Clearances
    Err: Errors leading to shot or goal
    SCA: Shot creating action per 90
    GCA90: Goal-creating actions per 90
    PassLive: Live-ball passes leading to chances
    PassDead: Set-piece passes
    TO: Chances created after take-ons
    SCA_Shots: Chances created via shots
    Fld: Chances from fouls won
    Def: Chances from defensive actions
    Pass_Cmp: Completed passes
    Pass_Att: Attempted passes
    Cmp%: Pass accuracy
    Pass_PrgDist: Progressive passing distance
    xAG: Expected assisted goals
    xA: Expected assists
    KP: Key passes
    Pass_1_3: Passes into final third
    PPA: Passes into penalty area
    CrsPA: Crosses into penalty area
    PrgP: Progressive passes
    Touches: Total ball touches
    Def Pen: Touches in defensive penalty area
    Att Pen: Touches in attacking penalty area
    Succ%: Successful take-on %
    Tkld: Times tackled while dribbling
    Tkld%: Tackle success against player
    Carries: Ball carries
    TotDist: Total carry distance
    Carry_PrgDist: Progressive carry distance
    PrgC: Progressive carries
    Carry_1_3: Carries into final third
    CPA: Carries into penalty area
    Mis: Miscontrols
    Dis:Dispossessed
    Rec: Ball recoveries
    PrgR: Progressive recoveries
    Gls: Goals scored
    Shots: Total shots
    SoT: Shots on target
    Sh/90: Shots per 90
    SoT/90: Shots on target per 90
    Dist: Average shot distance
    Shot_Fk: Free-kick shots
    xG: Expected goals
    npxG: Non-penalty xG
    npxG/Sh: Shot quality
    G-xG: Finishing vs expectation
    np:G-xG: Non-penalty finishing
    Type_Att: Total passes by type
    Type_Cmp: Completed passes by type
    Pass_typeFk: Free-kick passes
    TB: Through balls
    Sw: Switches
    Crs: Crosses
    TI: Throw-ins
    CK: Corner kicks
    In: Inswinging deliveries
    Out: Outswinging deliveries
    Str: Straight deliveries

In [74]:
def_df.loc[(def_df['TklW'] == 0) & (def_df['Tkl%'].isnull()),'Tkl%'] = 0

In [75]:
def_df[def_df['Tkl%'].isnull()]

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,Pass_typeFk,TB,Sw,Crs,TI,CK,In,Out,Str,Type_Cmp
18,Matúš Bero,DF,Slovakia,28,0.5,1,1,NaN,0,1,...,0,0,0,2,3,0,0,0,0,17
32,Diogo Dalot,DF,Portugal,24,1.7,1,1,NaN,2,1,...,0,0,0,3,6,0,0,0,0,91
50,Lutsharel Geertruida,DF,Netherlands,23,1.2,4,3,NaN,2,0,...,1,0,0,1,9,0,0,0,0,74
104,Jesús Navas,DF,Spain,38,1.7,3,2,NaN,2,1,...,2,0,1,9,13,0,0,0,0,56
130,António Silva,DF,Portugal,20,0.8,1,1,NaN,0,0,...,0,0,0,0,2,0,0,0,0,59
131,Michał Skóraś,DF,Poland,23,0.3,1,1,NaN,0,1,...,0,0,0,0,0,0,0,0,0,6
154,Jan Vertonghen,DF,Belgium,36,3.0,4,2,NaN,2,0,...,1,0,0,0,0,0,0,0,0,196

In [76]:
null_mask = def_df['Tkl%'].isnull()
def_df.loc[null_mask, 'Tkl%'] = ((def_df.loc[null_mask, 'TklW']/def_df.loc[null_mask, 'Tkl'])* 100).round(1)

In [77]:
def_df.loc[def_df['Player'] == 'Lutsharel Geertruida', 'Tkl%']

50    75.0
Name: Tkl%, dtype: float64

In [78]:
def_df.isnull().sum()[def_df.isnull().sum() > 0]

Succ%      64
Tkld%      64
Dist       63
npxG/Sh    63
dtype: int64

***Missing tackle success rates were recalculated using tackles won divided by total tackles. Players with zero tackle attempts were assigned a 0% success rate to avoid undefined values***

In [79]:
defence = def_df[def_df['90s'] >= 4].reset_index(drop=True)
defence.shape

(48, 71)

In [80]:
defence.isnull().sum()[defence.isnull().sum() > 0]

Succ%      9
Tkld%      9
Dist       7
npxG/Sh    7
dtype: int64

In [81]:
defence['Succ%'] = defence['Succ%'].fillna(0)

In [82]:
defence['Tkld%'] = defence['Tkld%'].fillna(0)

In [83]:
defence['Dist'] = defence['Dist'].fillna(0)

In [84]:
defence['npxG/Sh'] = defence['npxG/Sh'].fillna(0)

In [85]:
defence.isnull().sum().sum()

0

In [86]:
defence.duplicated().sum()

0

#### Scaling

In [87]:
from sklearn.preprocessing import MinMaxScaler

defence_scaled = defence.copy()

In [88]:
positive_metrics = [
    'TklW', 'Int', 'Blocks', 'Tkl+Int', 'Clr',
    'Cmp%', 'Pass_PrgDist', 'PrgP', 'Pass_1_3',
    'PPA', 'PrgC', 'Carry_PrgDist', 'Succ%', 'SCA90',
    'GCA90', 'xA'
]

negative_metrics = ['Err', 'Mis', 'Dis']

In [89]:
minMax = MinMaxScaler()
defence_scaled[positive_metrics] = minMax.fit_transform(
    defence_scaled[positive_metrics]
)

In [90]:
defence_scaled[negative_metrics] = minMax.fit_transform(
    defence_scaled[negative_metrics]
)

defence_scaled[negative_metrics] = 1 - defence_scaled[negative_metrics]

In [91]:
index_metrics = positive_metrics + negative_metrics
defence_scaled['Defence_Index'] = defence_scaled[index_metrics].mean(axis=1)

In [92]:
defence_scaled['Defence_Index'] = minMax.fit_transform(
    defence_scaled[['Defence_Index']]
)

In [93]:
defence_scaled.head()

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,TB,Sw,Crs,TI,CK,In,Out,Str,Type_Cmp,Defence_Index
0,Michel Aebischer,DF,Switzerland,27,5.3,4,0.250000,9.1,0.090909,0.125,...,3,2,3,28,0,0,0,0,221,0.376764
1,Manuel Akanji,DF,Switzerland,28,5.3,2,0.166667,50.0,0.363636,0.375,...,0,0,0,0,0,0,0,0,304,0.516332
2,Nathan Aké,DF,Netherlands,28,5.2,7,0.416667,57.1,0.181818,0.625,...,0,0,1,33,0,0,0,0,239,0.590621
3,Joachim Andersen,DF,Denmark,27,4.0,5,0.083333,100.0,0.181818,0.125,...,1,5,5,1,0,0,0,0,249,0.248318
4,Kaan Ayhan,DF,Türkiye,29,4.0,6,0.250000,40.0,0.272727,0.125,...,2,4,1,1,0,0,0,0,156,0.475352

***All metrics were min–max scaled and directionally adjusted to ensure fair comparison across defensive, progressive, and possession-based contributions before constructing a composite Defender Index***

In [94]:
stopper_metrics = [
    'TklW', 'Int', 'Blocks', 'Clr', 'Tkl+Int',
    'Err', 'Mis', 'Dis'
]
defence_scaled['Stopper_score'] = defence_scaled[stopper_metrics].mean(axis=1)

    Interpretation:
    
    0.75+ → Elite stopper
    0.55–0.75 → Reliable defensive option
    <0.55 → Not stopper-oriented

In [95]:
progressor_metrics = [
    'Cmp%', 'Pass_PrgDist', 'PrgP',
    'Pass_1_3', 'PPA',
    'PrgC', 'Carry_PrgDist', 'Succ%'
]
defence_scaled['Progressor_Score'] = defence_scaled[progressor_metrics].mean(axis=1)

    Interpretation:
    
    0.75+ → Elite build-up defender
    0.55–0.75 → Support progressor
    <0.55 → Limited on-ball impact

In [96]:
hybrid_metrics = (
    stopper_metrics +
    progressor_metrics +
    ['SCA90', 'GCA90', 'xA']
)
defence_scaled['Hybrid_Score'] = defence_scaled[hybrid_metrics].mean(axis=1)

    Interpretation:

    0.75+ → Complete defender
    0.60–0.75 → Tactical flexibility asset
    <0.60 → Role-specific only

In [97]:
defence_scaled.head()

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,TI,CK,In,Out,Str,Type_Cmp,Defence_Index,Stopper_score,Progressor_Score,Hybrid_Score
0,Michel Aebischer,DF,Switzerland,27,5.3,4,0.250000,9.1,0.090909,0.125,...,28,0,0,0,0,221,0.376764,0.389520,0.337649,0.397833
1,Manuel Akanji,DF,Switzerland,28,5.3,2,0.166667,50.0,0.363636,0.375,...,0,0,0,0,0,304,0.516332,0.562153,0.369233,0.451422
2,Nathan Aké,DF,Netherlands,28,5.2,7,0.416667,57.1,0.181818,0.625,...,33,0,0,0,0,239,0.590621,0.595170,0.441644,0.479945
3,Joachim Andersen,DF,Denmark,27,4.0,5,0.083333,100.0,0.181818,0.125,...,1,0,0,0,0,249,0.248318,0.449621,0.321622,0.348516
4,Kaan Ayhan,DF,Türkiye,29,4.0,6,0.250000,40.0,0.272727,0.125,...,1,0,0,0,0,156,0.475352,0.483333,0.342396,0.435687

In [98]:
def assign_archetype(row):
    score = {
        'Stopper': row['Stopper_score'],
        'Progressor': row['Progressor_Score'],
        'Hybrid': row['Hybrid_Score']
    }
    return max(score, key=score.get)

defence_scaled['Defender_Archetype'] = defence_scaled.apply(assign_archetype, axis=1)

***Defenders were classified into Stopper, Progressor, and Hybrid archetypes using scaled performance metrics across defensive actions, ball progression, and chance creation to reflect modern tactical roles***

In [99]:
defence_scaled.head()

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,CK,In,Out,Str,Type_Cmp,Defence_Index,Stopper_score,Progressor_Score,Hybrid_Score,Defender_Archetype
0,Michel Aebischer,DF,Switzerland,27,5.3,4,0.250000,9.1,0.090909,0.125,...,0,0,0,0,221,0.376764,0.389520,0.337649,0.397833,Hybrid
1,Manuel Akanji,DF,Switzerland,28,5.3,2,0.166667,50.0,0.363636,0.375,...,0,0,0,0,304,0.516332,0.562153,0.369233,0.451422,Stopper
2,Nathan Aké,DF,Netherlands,28,5.2,7,0.416667,57.1,0.181818,0.625,...,0,0,0,0,239,0.590621,0.595170,0.441644,0.479945,Stopper
3,Joachim Andersen,DF,Denmark,27,4.0,5,0.083333,100.0,0.181818,0.125,...,0,0,0,0,249,0.248318,0.449621,0.321622,0.348516,Stopper
4,Kaan Ayhan,DF,Türkiye,29,4.0,6,0.250000,40.0,0.272727,0.125,...,0,0,0,0,156,0.475352,0.483333,0.342396,0.435687,Stopper

In [100]:
tableau_cols = [
    'Player', 'Pos', 'Squad', 'Age', '90s',
    'Defence_Index', 'Stopper_score', 'Progressor_Score', 'Hybrid_Score', 'Defender_Archetype'
] + index_metrics

In [101]:
df = defence_scaled[tableau_cols].sort_values('Defence_Index', ascending=False).reset_index(drop=True)

In [102]:
df.shape

(48, 29)

In [103]:
df.to_csv('defence_index_wc26.csv', index=False)

In [104]:
df.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Defence_Index',
       'Stopper_score', 'Progressor_Score', 'Hybrid_Score',
       'Defender_Archetype', 'TklW', 'Int', 'Blocks', 'Tkl+Int', 'Clr', 'Cmp%',
       'Pass_PrgDist', 'PrgP', 'Pass_1_3', 'PPA', 'PrgC', 'Carry_PrgDist',
       'Succ%', 'SCA90', 'GCA90', 'xA', 'Err', 'Mis', 'Dis'],
      dtype='object')

### Midfielders

In [105]:
merge_df['Pos'].unique()

array(['FW', 'DF', 'FW,MF', 'MF', 'MF,FW', 'FW,DF', 'GK', 'DF,FW'],
      dtype=object)

In [106]:
merge_df[merge_df['Pos'].isin(['FW,MF', 'MF', 'MF,FW'])]

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,Pass_typeFk,TB,Sw,Crs,TI,CK,In,Out,Str,Type_Cmp
7,Kerem Aktürkoğlu,"FW,MF",Türkiye,25,1.2,1,1,50.0,1,1,...,0,1,0,3,1,0,0,0,0,22
11,Sandro Altunashvili,MF,Georgia,26,0.6,0,0,NaN,0,0,...,0,0,0,1,0,0,0,0,0,13
12,Zeki Amdouni,"MF,FW",Switzerland,23,0.6,0,0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,9
14,Robert Andrich,MF,Germany,29,3.5,12,8,71.4,3,2,...,1,1,0,1,0,0,0,0,0,208
16,Stuart Armstrong,MF,Scotland,31,0.2,1,0,NaN,0,0,...,0,0,0,3,1,1,1,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,Denis Zakaria,MF,Switzerland,27,0.3,0,0,NaN,1,0,...,0,0,0,0,0,0,0,0,0,7
485,Piotr Zieliński,MF,Poland,29,2.8,0,0,0.0,4,2,...,5,1,0,11,0,6,2,4,0,123
489,Budu Zivzivadze,"FW,MF",Georgia,29,0.2,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,3
490,Steven Zuber,MF,Switzerland,32,0.9,0,0,0.0,0,0,...,0,0,1,1,0,0,0,0,0,32
491,Martín Zubimendi,MF,Spain,24,1.6,8,5,66.7,1,0,...,1,0,1,1,0,0,0,0,0,108

In [107]:
merge_df['Pos'] = merge_df['Pos'].replace({
    'FW,MF': 'MF',
    'MF,FW': 'MF'
})

In [108]:
merge_df['Pos'].value_counts()

Pos
MF       190
DF       166
FW        96
GK        29
FW,DF      6
DF,FW      6
Name: count, dtype: int64

In [109]:
midfield = merge_df[merge_df['Pos'] == 'MF'].reset_index(drop=True)

In [110]:
midfield.shape

(190, 71)

In [111]:
midfield.isnull().sum()[midfield.isnull().sum() > 0]

Tkl%       38
SCA90       2
GCA90       2
Succ%      47
Tkld%      47
Dist       36
npxG/Sh    36
dtype: int64

In [112]:
midfield.loc[(midfield['TklW'] == 0) & (midfield['Tkl%'].isnull()),'Tkl%'] = 0

In [113]:
null_mask = midfield['Tkl%'].isnull()
midfield.loc[null_mask, 'Tkl%'] = ((midfield.loc[null_mask, 'TklW']/midfield.loc[null_mask, 'Tkl'])* 100).round(1)

In [114]:
midfield['90s'].max()

7.7

In [115]:
mid = midfield[midfield['90s'] >= 4].reset_index(drop=True)
mid.shape

(32, 71)

In [116]:
mid.isnull().sum()[mid.isnull().sum() > 0]

Succ%    1
Tkld%    1
dtype: int64

In [117]:
mid['Succ%'] = mid['Succ%'].fillna(0)

In [118]:
mid['Tkld%'] = mid['Tkld%'].fillna(0)

In [119]:
mid.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Tkl', 'TklW', 'Tkl%', 'Blocks',
       'Int', 'Tkl+Int', 'Clr', 'Err', 'SCA90', 'PassLive', 'PassDead', 'TO',
       'SCA_Shots', 'Fld', 'Def', 'GCA90', 'Pass_Cmp', 'Pass_Att', 'Cmp%',
       'Pass_PrgDist', 'xAG', 'xA', 'KP', 'Pass_1_3', 'PPA', 'CrsPA', 'PrgP',
       'Touches', 'Def Pen', 'Att Pen', 'Succ%', 'Tkld', 'Tkld%', 'Carries',
       'TotDist', 'Carry_PrgDist', 'PrgC', 'Carry_1_3', 'CPA', 'Mis', 'Dis',
       'Rec', 'PrgR', 'Gls', 'Shots', 'SoT', 'Sh/90', 'SoT/90', 'Dist',
       'Shot_Fk', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Type_Att',
       'Pass_typeFk', 'TB', 'Sw', 'Crs', 'TI', 'CK', 'In', 'Out', 'Str',
       'Type_Cmp'],
      dtype='object')

In [120]:
mid.drop(columns=['Blocks',
'Clr',
'Fld',
'Def',
'PassDead',
'Shot_Fk',
'Pass_typeFk',
'TI',
'CK',
'In',
'Out',
'Str',
'Type_Att',
'Type_Cmp',
'TotDist',
'Gls',
'Sh/90',
'SoT/90',
'Dist'
], inplace=True)

In [121]:
mid.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Tkl', 'TklW', 'Tkl%', 'Int',
       'Tkl+Int', 'Err', 'SCA90', 'PassLive', 'TO', 'SCA_Shots', 'GCA90',
       'Pass_Cmp', 'Pass_Att', 'Cmp%', 'Pass_PrgDist', 'xAG', 'xA', 'KP',
       'Pass_1_3', 'PPA', 'CrsPA', 'PrgP', 'Touches', 'Def Pen', 'Att Pen',
       'Succ%', 'Tkld', 'Tkld%', 'Carries', 'Carry_PrgDist', 'PrgC',
       'Carry_1_3', 'CPA', 'Mis', 'Dis', 'Rec', 'PrgR', 'Shots', 'SoT', 'xG',
       'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'TB', 'Sw', 'Crs'],
      dtype='object')

***Columns were selected based on their contribution to control, progression, chance creation, and risk management, rather than raw volume or descriptive event types***

In [122]:
scale_cols = [
    # Defensive
    'Tkl', 'TklW', 'Tkl%', 'Int', 'Tkl+Int',
    # Creation
    'SCA90', 'GCA90', 'xA', 'KP', 'PPA',
    # Passing
    'Cmp%', 'Pass_PrgDist', 'PrgP', 'Pass_1_3',
    # Carrying
    'Carries', 'Carry_PrgDist', 'PrgC', 'Succ%',
    # Shooting efficiency
    'xG', 'npxG', 'npxG/Sh', 'G-xG',
    # Risk (Negative directional)
    'Err', 'Mis', 'Dis', 'Tkld', 'Tkld%'
]

mid_scaled = mid.copy()
minMaxMid = MinMaxScaler()
mid_scaled[scale_cols] = minMaxMid.fit_transform(mid[scale_cols])

In [123]:
mid_scaled[scale_cols].describe().loc[['min','max']]

,Tkl,TklW,Tkl%,Int,Tkl+Int,SCA90,GCA90,xA,KP,PPA,...,Succ%,xG,npxG,npxG/Sh,G-xG,Err,Mis,Dis,Tkld,Tkld%
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [124]:
negative_metrics = ['Err', 'Mis', 'Dis', 'Tkld', 'Tkld%']

for col in negative_metrics:
    mid_scaled[col] = 1 - mid_scaled[col]

***Negative-direction metrics were min–max scaled and then inverted to ensure all features followed a consistent ‘higher-is-better'***

In [125]:
mid_scaled[scale_cols].describe().loc[['min','max']]

,Tkl,TklW,Tkl%,Int,Tkl+Int,SCA90,GCA90,xA,KP,PPA,...,Succ%,xG,npxG,npxG/Sh,G-xG,Err,Mis,Dis,Tkld,Tkld%
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-2.220446e-16,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.000000e+00,1.0,1.0,1.0

In [126]:
corr = mid_scaled[scale_cols].corr()
corr

,Tkl,TklW,Tkl%,Int,Tkl+Int,SCA90,GCA90,xA,KP,PPA,...,Succ%,xG,npxG,npxG/Sh,G-xG,Err,Mis,Dis,Tkld,Tkld%
Tkl,1.000000,0.913244,0.024535,0.600309,0.945924,-0.272935,-0.051686,-0.167795,-0.091928,-0.066878,...,-0.013122,-0.528319,-0.555940,-0.405515,0.313897,-0.103619,0.095228,-0.022245,-0.056552,-0.084345
TklW,0.913244,1.000000,-0.000428,0.581339,0.877289,-0.324461,-0.033504,-0.173730,-0.164649,0.012654,...,0.011515,-0.449743,-0.461947,-0.388861,0.295050,-0.176950,0.063405,-0.118398,-0.095988,0.010691
Tkl%,0.024535,-0.000428,1.000000,0.120585,0.066144,0.060327,0.023928,-0.031689,0.120332,0.183967,...,0.097936,0.187118,0.107145,0.009402,-0.343788,-0.220325,0.135717,0.006864,-0.064819,-0.113751
Int,0.600309,0.581339,0.120585,1.000000,0.827283,-0.372398,0.009466,-0.069349,-0.171111,-0.068440,...,-0.063250,-0.435856,-0.446040,-0.521431,0.160203,-0.027608,0.302751,0.073259,0.159745,-0.073379
Tkl+Int,0.945924,0.877289,0.066144,0.827283,1.000000,-0.342765,-0.032467,-0.145993,-0.133977,-0.074737,...,-0.034872,-0.547895,-0.571428,-0.496343,0.285472,-0.083984,0.189689,0.014089,0.025069,-0.089010
SCA90,-0.272935,-0.324461,0.060327,-0.372398,-0.342765,1.000000,0.226917,0.613902,0.845056,0.596201,...,-0.214655,0.143625,0.243503,0.215688,0.124975,0.111383,-0.183729,-0.068929,-0.331867,-0.348233
GCA90,-0.051686,-0.033504,0.023928,0.009466,-0.032467,0.226917,1.000000,0.410636,0.186240,0.085962,...,-0.078482,0.184147,0.248888,0.212210,0.502326,0.011597,-0.276098,-0.163585,-0.347511,-0.078803
xA,-0.167795,-0.173730,-0.031689,-0.069349,-0.145993,0.613902,0.410636,1.000000,0.618799,0.584458,...,-0.281835,0.276657,0.392611,0.355275,0.216063,0.220262,-0.361456,-0.320540,-0.305063,-0.373329
KP,-0.091928,-0.164649,0.120332,-0.171111,-0.133977,0.845056,0.186240,0.618799,1.000000,0.624453,...,-0.168008,0.088805,0.205834,0.099275,0.133671,0.055909,-0.242629,-0.223997,-0.316349,-0.276588
PPA,-0.066878,0.012654,0.183967,-0.068440,-0.074737,0.596201,0.085962,0.584458,0.624453,1.000000,...,-0.031120,0.338246,0.448982,0.288272,-0.069160,-0.095346,-0.280655,-0.410045,-0.417055,-0.308118
Cmp%,0.372341,0.432893,-0.240204,0.369927,0.411590,-0.430492,-0.194217,-0.344567,-0.324001,-0.185728,...,0.005774,-0.376130,-0.455479,-0.412437,0.160858,-0.043714,0.336752,0.093330,0.347919,0.027223
Pass_PrgDist,0.398200,0.340794,-0.102458,0.457461,0.465258,0.140453,-0.144020,0.134603,0.272636,0.046419,...,-0.230552,-0.326755,-0.323577,-0.373458,0.108659,-0.002043,0.332403,0.164749,0.281602,-0.172049
PrgP,0.358095,0.347078,-0.154023,0.366545,0.400211,0.231278,-0.038913,0.289804,0.365866,0.294150,...,-0.238276,-0.218421,-0.183619,-0.239304,0.204917,-0.039022,0.225356,-0.082229,0.112422,-0.179111
Pass_1_3,0.429297,0.413320,-0.106209,0.434940,0.477967,0.044126,-0.153147,0.094170,0.239198,0.083975,...,-0.256114,-0.336189,-0.321342,-0.406343,0.112418,-0.020338,0.274119,0.104822,0.244683,-0.078955
Carries,0.450847,0.513029,-0.175326,0.318585,0.445910,0.085440,-0.074280,0.120156,0.247459,0.209524,...,-0.078803,-0.284457,-0.254266,-0.386061,0.216672,-0.069984,0.038702,-0.094027,0.029835,-0.070770
Carry_PrgDist,0.378731,0.465226,0.067961,0.178689,0.338511,0.350234,0.137299,0.228073,0.383184,0.455575,...,-0.195184,-0.156332,-0.116986,-0.185056,0.306258,-0.204373,0.020645,-0.135502,-0.354373,-0.224549
PrgC,0.095624,0.173599,0.227496,-0.154807,0.004380,0.408049,0.396776,0.341331,0.382784,0.558941,...,-0.103911,0.166424,0.200700,0.210531,0.304682,-0.151609,-0.274642,-0.299063,-0.721805,-0.184974
Succ%,-0.013122,0.011515,0.097936,-0.063250,-0.034872,-0.214655,-0.078482,-0.281835,-0.168008,-0.031120,...,1.000000,0.027520,0.061916,-0.000378,-0.151284,-0.306380,-0.006595,0.023993,0.216729,0.581956
xG,-0.528319,-0.449743,0.187118,-0.435856,-0.547895,0.143625,0.184147,0.276657,0.088805,0.338246,...,0.027520,1.000000,0.956161,0.749214,-0.470032,0.007679,-0.416890,-0.408219,-0.275047,-0.121900
npxG,-0.555940,-0.461947,0.107145,-0.446040,-0.571428,0.243503,0.248888,0.392611,0.205834,0.448982,...,0.061916,0.956161,1.000000,0.789115,-0.386914,-0.029554,-0.447666,-0.471442,-0.301298,-0.084785
npxG/Sh,-0.405515,-0.388861,0.009402,-0.521431,-0.496343,0.215688,0.212210,0.355275,0.099275,0.288272,...,-0.000378,0.749214,0.789115,1.000000,-0.260510,-0.009332,-0.339127,-0.392345,-0.273186,-0.136012
G-xG,0.313897,0.295050,-0.343788,0.160203,0.285472,0.124975,0.502326,0.216063,0.133671,-0.069160,...,-0.151284,-0.470032,-0.386914,-0.260510,1.000000,0.035383,-0.019230,-0.057872,-0.167565,-0.004897
Err,-0.103619,-0.176950,-0.220325,-0.027608,-0.083984,0.111383,0.011597,0.220262,0.055909,-0.095346,...,-0.306380,0.007679,-0.029554,-0.009332,0.035383,1.000000,-0.139481,-0.034313,0.068884,-0.405716
Mis,0.095228,0.063405,0.135717,0.302751,0.189689,-0.183729,-0.276098,-0.361456,-0.242629,-0.280655,...,-0.006595,-0.416890,-0.447666,-0.339127,-0.019230,-0.139481,1.000000,0.466721,0.566870,0.088974
Dis,-0.022245,-0.118398,0.006864,0.073259,0.014089,-0.068929,-0.163585,-0.320540,-0.223997,-0.410045,...,0.023993,-0.408219,-0.471442,-0.392345,-0.057872,-0.034313,0.466721,1.000000,0.523935,0.168676
Tkld,-0.056552,-0.095988,-0.064819,0.159745,0.025069,-0.331867,-0.347511,-0.305063,-0.316349,-0.417055,...,0.216729,-0.275047,-0.301298,-0.273186,-0.167565,0.068884,0.566870,0.523935,1.000000,0.435435
Tkld%,-0.084345,0.010691,-0.113751,-0.073379,-0.089010,-0.348233,-0.078803,-0.373329,-0.276588,-0.308118,...,0.581956,-0.121900,-0.084785,-0.136012,-0.004897,-0.405716,0.088974,0.168676,0.435435,1.000000

In [127]:
mid_scaled.columns

Index(['Player', 'Pos', 'Squad', 'Age', '90s', 'Tkl', 'TklW', 'Tkl%', 'Int',
       'Tkl+Int', 'Err', 'SCA90', 'PassLive', 'TO', 'SCA_Shots', 'GCA90',
       'Pass_Cmp', 'Pass_Att', 'Cmp%', 'Pass_PrgDist', 'xAG', 'xA', 'KP',
       'Pass_1_3', 'PPA', 'CrsPA', 'PrgP', 'Touches', 'Def Pen', 'Att Pen',
       'Succ%', 'Tkld', 'Tkld%', 'Carries', 'Carry_PrgDist', 'PrgC',
       'Carry_1_3', 'CPA', 'Mis', 'Dis', 'Rec', 'PrgR', 'Shots', 'SoT', 'xG',
       'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'TB', 'Sw', 'Crs'],
      dtype='object')

In [128]:
controller_cols = [
    'Tkl', 'TklW', 'Tkl%', 'Int', 'Tkl+Int',
    'Rec', 'Touches', 'Pass_Cmp', 'Cmp%',
    'Err', 'Mis', 'Dis'
]

mid_scaled['Controller_Score'] = mid_scaled[controller_cols].mean(axis=1)

    Interpretation
* High score = safe, reliable, press-resistant midfielder
* Low score = chaos merchant under pressure

In [129]:
progressor_cols = [
    'PrgP', 'Pass_PrgDist', 'Pass_1_3', 'PPA',
    'Carries', 'Carry_PrgDist', 'PrgC',
    'Carry_1_3', 'CPA', 'PrgR'
]

mid_scaled['Progressor_Score'] = mid_scaled[progressor_cols].mean(axis=1)

    Interpretation
* High score = line-breaking machine
* Low score = sterile possession

In [130]:
creator_cols = [
    'SCA90', 'GCA90', 'KP', 'xA', 'xAG',
    'TB', 'Sw', 'Crs', 'CrsPA',
    'Shots', 'SoT', 'xG', 'npxG',
    'npxG/Sh', 'G-xG', 'np:G-xG'
]

mid_scaled['Creator_Score'] = mid_scaled[creator_cols].mean(axis=1)

    Interpretation
* High score = final-third value generator
* Low score = tidy but toothless

In [131]:
mid_scaled['Midfielder_Index'] = (
    mid_scaled['Controller_Score'] +
    mid_scaled['Progressor_Score'] +
    mid_scaled['Creator_Score']
) / 3

In [132]:
scaler = MinMaxScaler()

mid_scaled[['Controller_Score_n',
    'Progressor_Score_n',
    'Creator_Score_n',
    'Midfielder_Index_n']] = scaler.fit_transform(
        mid_scaled[['Controller_Score', 'Progressor_Score', 'Creator_Score', 'Midfielder_Index']]
)

In [133]:
def label_midfielder(row, threshold=0.7):
    scores = {
        'Controller': row['Controller_Score_n'],
        'Progressor': row['Progressor_Score_n'],
        'Creator': row['Creator_Score_n']
    }
    
    sorted_scores = sorted(scores.items(), key=lambda x: x[1], reverse=True)
    
    top_role, top_value = sorted_scores[0]
    second_role, second_value = sorted_scores[1]
    
    if top_value >= threshold and second_value >= threshold:
        return 'Hybrid'
    else:
        return top_role

In [134]:
mid_scaled['Midfielder_Archetype'] = mid_scaled.apply(label_midfielder, axis=1)

In [135]:
mid_scaled.head()

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Int,Tkl+Int,...,Crs,Controller_Score,Progressor_Score,Creator_Score,Midfielder_Index,Controller_Score_n,Progressor_Score_n,Creator_Score_n,Midfielder_Index_n,Midfielder_Archetype
0,Jude Bellingham,MF,England,20,7.4,0.777778,0.714286,0.222,0.500,0.68,...,8,93.605797,7.019504,1.717211,34.114170,0.652690,0.872939,0.421153,0.702107,Progressor
1,Kevin De Bruyne,MF,Belgium,32,4.0,0.222222,0.000000,0.333,0.000,0.12,...,21,52.093772,3.521566,3.293078,19.636139,0.244847,0.386772,0.873426,0.286855,Creator
2,Ousmane Dembélé,MF,France,26,4.0,0.388889,0.285714,1.000,0.125,0.28,...,36,42.678400,7.933699,3.429010,18.013703,0.152344,1.000000,0.912439,0.240321,Hybrid
3,Timi Elšnik,MF,Slovenia,25,4.0,0.666667,0.428571,0.714,0.500,0.60,...,4,27.172137,1.098014,0.634108,9.634753,0.000000,0.049930,0.110304,0.000000,Creator
4,Bruno Fernandes,MF,Portugal,29,4.2,0.388889,0.285714,0.667,0.250,0.32,...,32,67.851181,5.275005,3.534501,25.553562,0.399659,0.630476,0.942715,0.456576,Creator

In [136]:
mid_scaled['Midfielder_Archetype'].unique()

array(['Progressor', 'Creator', 'Hybrid', 'Controller'], dtype=object)

In [137]:
mid_scaled.shape

(32, 61)

In [138]:
mid_scaled['Midfielder_Archetype'].value_counts()

Midfielder_Archetype
Controller    14
Creator        8
Progressor     6
Hybrid         4
Name: count, dtype: int64

In [139]:
clean_midfield = mid_scaled.sort_values('Midfielder_Index_n', ascending=False).reset_index(drop=True)

In [140]:
clean_midfield.to_csv('midfield_wc2026.csv', index=False)

### Forwards

In [141]:
merge_df['Pos'].unique()

array(['FW', 'DF', 'MF', 'FW,DF', 'GK', 'DF,FW'], dtype=object)

In [142]:
merge_df['Pos'] = merge_df['Pos'].replace({
    'FW,DF': 'FW',
    'DF,FW': 'FW'
})

In [143]:
merge_df['Pos'].value_counts()

Pos
MF    190
DF    166
FW    108
GK     29
Name: count, dtype: int64

In [146]:
forwards = merge_df[merge_df['Pos'] == 'FW'].reset_index(drop=True)

In [147]:
forwards.head()

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,Pass_typeFk,TB,Sw,Crs,TI,CK,In,Out,Str,Type_Cmp
0,Che Adams,FW,Scotland,27,2.3,2,1,100.0,2,1,...,0,0,1,1,0,0,0,0,0,27
1,Yunus Akgün,FW,Türkiye,23,0.8,2,1,100.0,1,0,...,0,0,0,3,0,1,1,0,0,14
2,Denis Alibec,FW,Romania,33,0.3,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,4
3,Barış Alper Yılmaz,FW,Türkiye,23,5.0,5,0,33.3,1,0,...,1,2,1,8,0,1,0,0,0,80
4,Marko Arnautović,FW,Austria,34,3.1,2,1,100.0,1,0,...,1,0,0,2,0,0,0,0,0,39

In [148]:
forwards.shape

(108, 71)

In [149]:
finisher_cols = [
    'npxG/Sh',
    'G-xG',
    'np:G-xG',
    'SoT',
    'npxG'
]

forwards['Finisher_Score'] = forwards[finisher_cols].mean(axis=1)

In [150]:
volume_cols = [
    'Shots',
    'xG',
    'npxG',
    'SCA90',
    'GCA90'
]

forwards['Volume_Score'] = forwards[volume_cols].mean(axis=1)

In [151]:
link_cols = [
    'KP',
    'xA',
    'Pass_1_3',
    'PrgP',
    'Carries',
    'PrgC',
    'Rec'
]

forwards['Link_Score'] = forwards[link_cols].mean(axis=1)

In [152]:
forwards['Forward_Index'] = (
    forwards['Finisher_Score'] +
    forwards['Volume_Score'] +
    forwards['Link_Score']
) / 3

In [154]:
forwards.head()

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,TI,CK,In,Out,Str,Type_Cmp,Finisher_Score,Volume_Score,Link_Score,Forward_Index
0,Che Adams,FW,Scotland,27,2.3,2,1,100.0,2,1,...,0,0,0,0,0,27,0.192,0.612,11.314286,4.039429
1,Yunus Akgün,FW,Türkiye,23,0.8,2,1,100.0,1,0,...,0,1,1,0,0,14,0.000,0.782,7.300000,2.694000
2,Denis Alibec,FW,Romania,33,0.3,0,0,NaN,0,0,...,0,0,0,0,0,4,0.008,0.320,2.000000,0.776000
3,Barış Alper Yılmaz,FW,Türkiye,23,5.0,5,0,33.3,1,0,...,0,1,0,0,0,80,0.540,1.440,33.985714,11.988571
4,Marko Arnautović,FW,Austria,34,3.1,2,1,100.0,1,0,...,0,0,0,0,0,39,0.318,1.378,14.728571,5.474857

In [153]:
forward_sc = forwards.copy()
forscaler = MinMaxScaler()
forward_sc[['Forward_Index_scaled', 'Finisher_Score_sc', 'Volume_Score_sc', 'Link_Score_sc']] = forscaler.fit_transform(
    forwards[['Forward_Index', 'Finisher_Score', 'Volume_Score', 'Link_Score']]
)

In [155]:
forward_sc.head()

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,Str,Type_Cmp,Finisher_Score,Volume_Score,Link_Score,Forward_Index,Forward_Index_scaled,Finisher_Score_sc,Volume_Score_sc,Link_Score_sc
0,Che Adams,FW,Scotland,27,2.3,2,1,100.0,2,1,...,0,27,0.192,0.612,11.314286,4.039429,0.148355,0.140200,0.065948,0.139633
1,Yunus Akgün,FW,Türkiye,23,0.8,2,1,100.0,1,0,...,0,14,0.000,0.782,7.300000,2.694000,0.098942,0.071531,0.084267,0.090092
2,Denis Alibec,FW,Romania,33,0.3,0,0,NaN,0,0,...,0,4,0.008,0.320,2.000000,0.776000,0.028500,0.074392,0.034483,0.024683
3,Barış Alper Yılmaz,FW,Türkiye,23,5.0,5,0,33.3,1,0,...,0,80,0.540,1.440,33.985714,11.988571,0.440300,0.264664,0.155172,0.419429
4,Marko Arnautović,FW,Austria,34,3.1,2,1,100.0,1,0,...,0,39,0.318,1.378,14.728571,5.474857,0.201073,0.185265,0.148491,0.181770

In [164]:
def label_forward(row, threshold=0.7):
    scores = {
        'Finisher': row['Finisher_Score_sc'],
        'Volume Attacker': row['Volume_Score_sc'],
        'Link Forward': row['Link_Score_sc']
    }
    
    sorted_scores = sorted(scores.items(), key=lambda x: x[1], reverse=True)
    
    top_role, top_value = sorted_scores[0]
    second_role, second_value = sorted_scores[1]
    
    if top_value >= threshold and second_value >= threshold:
        return 'Hybrid Forward'
    else:
        return top_role

forward_sc['Forward_Archetype'] = forward_sc.apply(label_forward, axis=1)

In [165]:
forward_sc['Forward_Archetype'].value_counts()

Forward_Archetype
Finisher           61
Link Forward       23
Volume Attacker    22
Hybrid Forward      2
Name: count, dtype: int64

In [166]:
clean_forward = forward_sc.sort_values('Forward_Index_scaled', ascending=False).reset_index(drop=True)

In [167]:
clean_forward.to_csv('forward_wc2026.csv', index=False)

In [168]:
forward_sc[forward_sc['Forward_Archetype'] == 'Hybrid Forward']

,Player,Pos,Squad,Age,90s,Tkl,TklW,Tkl%,Blocks,Int,...,Type_Cmp,Finisher_Score,Volume_Score,Link_Score,Forward_Index,Forward_Index_scaled,Finisher_Score_sc,Volume_Score_sc,Link_Score_sc,Forward_Archetype
61,Kylian Mbappé,FW,France,25,5.2,1,0,0.0,4,0,...,158,1.238,6.686,67.714286,25.212762,0.925980,0.514306,0.720474,0.835684,Hybrid Forward
66,Jamal Musiala,FW,Germany,20,4.7,6,4,66.7,7,4,...,148,1.820,3.370,61.800000,22.330000,0.820106,0.722461,0.363147,0.762694,Hybrid Forward